<configuration>

    <property name="msgLevel" value="debug" />
    <if condition='property("spring.profiles.active").contains("dev-local")' >
        <then>
            <property name="msgLevel" value="trace" />
        </then>
    </if>

    <property name="paPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] IL - %5p [%t] %X{provisionTrackId} - %c{1}: %m%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${paPattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.vonage">
        <level value="${msgLevel}" />
    </logger>

    <logger name="org.springframework">
        <level value="info" />
    </logger>

    <logger name="org.springframework.data.mongodb.core.MongoTemplate">
        <level value="debug" />
    </logger>

    <logger name="org.springframework.cache.interceptor.CacheInterceptor">
        <level value="trace" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
